/*

    Name:       Earth (Dark)
    Author:     Samuel Barney

    Color scheme by Samuel Barney

*/

#sidebar{
    background:#283B3E;
    text-shadow:none;
}

#working-set-header,
#open-files-container{ /* Working files */
    background:#283B3E;
}

#project-files-header,
#working-set-header{/* "working files" header and folder header*/
    color:#677271!important;
}

#status-bar{ /* Bottom status bar */
    background:#365458;
    border-top:1px solid #1C292B;
}

#status-indicators,
#status-info{ /* Status bar text */
    background:transparent;
}

.cm-s-earth-dark.CodeMirror {background: #283B3E; color: #BDBAA1; }
.cm-s-earth-dark div.CodeMirror-selected {background: #1C292B !important; }
.cm-s-earth-dark .CodeMirror-gutters {background: #283B3E; border-right: 0px; -webkit-box-shadow:inset 2px 0 5px 1px #1C292B;
box-shadow:inset 2px 0 5px 1px #1C292B;}
.cm-s-earth-dark .CodeMirror-linenumber {color: #365458;}
.cm-s-earth-dark .CodeMirror-cursor {border-left: 1px solid #98FFE5 !important;}

.cm-s-earth-dark span.cm-comment {color: #365458; font-style:italic;}
.cm-s-earth-dark span.cm-atom {color: #FEBAC5;}
.cm-s-earth-dark span.cm-number {color: #6CD1EA;}

.cm-s-earth-dark span.cm-property, .cm-s-earth-dark span.cm-attribute {color: #48b685;}
.cm-s-earth-dark span.cm-keyword {color: #E66717;}
.cm-s-earth-dark span.cm-string {color: #fec418;}

.cm-s-earth-dark span.cm-variable {color: #AFE891;}
.cm-s-earth-dark span.cm-variable-2 {color: #7975FF;}
.cm-s-earth-dark span.cm-def {color: #FFEE98;}
.cm-s-earth-dark span.cm-bracket {color: #b9b6b0;}
.cm-s-earth-dark span.cm-tag {color: #EFC793;}
.cm-s-earth-dark span.cm-link {color: #E8ABB6;}
.cm-s-earth-dark span.cm-error {background: #E66717; color: #000000;}

.cm-s-earth-dark .CodeMirror-activeline { border: none; }
.cm-s-earth-dark .CodeMirror-activeline-background {background: #1C292B !important; outline: none !important; }
.cm-s-earth-dark .CodeMirror-matchingbracket { text-decoration: none; color: white !important;}
